<!-- Acerca de -->

<section class="container-acerca">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-5 d-flex justify-content-center">
                <img  src="../../../assets/img/acerca.jpg" alt="photo" class="img-fluid img-thumbnail acerca-img">
            </div>
           
            <div class="col-sm-12 col col-lg-7">
                <h3 class="acerca-subtitle">Acerca de</h3>
                <div class="bar-decoration"></div>
                
                <div class="mt-4 acerca-text">
                    <p>Actualmente soy estudiante en el área de informatica.</p>
                    <p>  Soy una persona amable, sincera,
                        cortés, apasionada por la tecnología y
                        responsable en cualquier actividad de
                        trabajo.
                        Tengo como propósito adquirir
                        conocimientos día a día para
                        convertirme en un profesional
                        destacado en materia tecnológica.</p>
                </div>
                <div class="acerca-contactos">
                    <div class="row">
                        <div class="col col-md-6 col-lg-6">
                            <ul><li class="acerca-credenciales">Nombre: <small class="credenciales">Samuel Anselmi</small></li></ul>
                        </div>
                        <div class="col col-md-6 col-lg-6">
                            <ul><li class="acerca-credenciales">Telefono: <small class="credenciales">0414.983.56.81</small></li></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-lg-6">
                            <ul><li class="acerca-credenciales">Nacionalidad: <small class="credenciales">Venezolana</small></li></ul>
                        </div>
                        <div class="col col-md-6 col-lg-6">
                            <ul><li class="acerca-credenciales">Email: <small class="credenciales">samuelanselmi11@gmail.com</small></li></ul>
                        </div>
                    </div>
                </div>
                <a class="btn btn-light anchor mt-3" href="../../../assets/img/SAMUEL-ALEJANDRO-1.pdf" Download>Download CV</a>
            </div>
        </div>
    </div>
</section>
  