<!-- Proyecto -->
<section class="proyecto-container">
    <div class="container ">
      <div>
        <h3 class="text-proyecto">Proyectos</h3>
        <div class="bar-decoration"></div>
      </div>
      
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 col-lg-3 mt-5">
              <div class="card">
                <div class="card-container-image">
                  <img src="../../../assets/img-proyectos/120009005_2078306378967889_3067092256257908880_n.png" class="card-img-top" alt="photo">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Fluid jumbotron</h5>
                  <p class="card-text">Landing page</p>
                  <a href="https://anselmi-samuel.github.io/Dise-o-web-bootstrap/" target="_blank" class="btn btn-primary btn-lg">Ver proyecto</a>
                </div>
              </div>
            </div>

          <div class="col-12 col-md-4 col-lg-3 mt-5">
            <div class="card">
              <div class="card-container-image">
                <img src="../../../assets/img-proyectos/120047296_766472494144795_3805154796059537073_n.png" class="card-img-top" alt="photo">
              </div>
              <div class="card-body">
                <h5 class="card-title">Digital Ocean</h5>
                <p class="card-text">Landing page</p>
                <a href="https://anselmi-samuel.github.io/sites-web/" target="_blank" class="btn btn-primary btn-lg">Ver proyecto</a>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-md-4 col-lg-3 mt-5">
            <div class="card">
              <div class="card-container-image">
                <img src="../../../assets/img-proyectos/120100239_790794841723494_1978611807880631719_n.png" class="card-img-top" alt="photo">
              </div>
              <div class="card-body">
                <h5 class="card-title">Financial</h5>
                <p class="card-text">Landing page</p>
                <a href="https://anselmi-samuel.github.io/Dise-o-web-/" target="_blank" class="btn btn-primary btn-lg">Ver proyecto</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
  
